[Desktop Entry]
Encoding=UTF-8
Name=Nicotine+
Comment=SoulSeek client for Linux
Comment[pl]=Klient sieci SoulSeek dla Linuksa
Exec=nicotine
Icon=nicotine.png
Terminal=false
Type=Application
Categories=GTK;Network;FileTransfer;
# vi: encoding=utf-8
